<nav class="navbar navbar-expand navbar-dark bg-primary d-flex justify-content-between">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/products"
      [routerLinkActiveOptions]="{ exact: true }">Products</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/products/reviews"
      >Reviews</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/test">Test</a>
    </div>
    <div>
      <ng-container *ngIf="user$ | async as user; else loginBtn">
        <span class="text-white mr-2">{{ user.username }}</span>
        <button class="btn btn-danger" (click)="logout()">Logout</button>
      </ng-container>

      <ng-template #loginBtn>
        <button class="btn btn-secondary" (click)="login()">Login</button>
      </ng-template>

    </div>
</nav>
