
<button class="btn btn-danger" routerLink="/products/add">Add</button>
<button (click)="highlightAll()">Highlight all</button>
<ng-container *ngIf="products$ | async as products">
  <div class="list-group">
    <div
    *ngFor="let product of products" ceHighlight
    class="list-group-item list-group-item-action d-flex justify-content-between">
      <span>{{product.name}}</span>
      <button class="btn btn-danger" [routerLink]="['/products', product.id, 'edit']">Edit</button>
    </div>
  </div>
</ng-container>
